WebScraper/TestWebScraper.json
[{"id":"62c36b72.d44664","type":"tab","label":"Test Web Scraper","disabled":true,"info":""},{"id":"dda29884.a289d8","type":"inject","z":"62c36b72.d44664","name":"Trigger","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Trigger","payload":"10004622","payloadType":"num","x":270,"y":380,"wires":[["be550c89.cf012"]]},{"id":"448e31f8.9aacd","type":"http request","z":"62c36b72.d44664","name":"Get Data","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":380,"wires":[["2235d577.102b2a"]]},{"id":"2235d577.102b2a","type":"html","z":"62c36b72.d44664","name":"Parse indexes","property":"payload","outproperty":"payload","tag":"script","ret":"text","as":"single","x":700,"y":480,"wires":[["c890f55c.8db418"]]},{"id":"c890f55c.8db418","type":"function","z":"62c36b72.d44664","name":"Get Estate Data","func":"// str = msg.payload[4]\nvar str = msg.payload.reduce(\n    function (a, b) {\n        return a.length > b.length ? a : b;\n    }\n);\nstr = str.split(\"window.PAGE_MODEL = \")[1]\n\nif (str === undefined || str.length === 0) {\n    str= \"{}\"\n}\nmsg.payload=str\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":560,"wires":[["42320b51.ec8a24"]]},{"id":"42320b51.ec8a24","type":"json","z":"62c36b72.d44664","name":"Get Estate Object","property":"payload","action":"obj","pretty":false,"x":710,"y":640,"wires":[["2c228333.3cf6bc"]]},{"id":"4553d5a0.9d89cc","type":"function","z":"62c36b72.d44664","name":"request header","func":"propertyId = msg.payload\nmsg.payload = \"\";\nmsg.headers = {};\nmsg.headers['Referer'] = \"https://www.rightmove.co.uk/properties/\"+propertyId;\nmsg.headers['User-Agent'] = \"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.70 Safari/537.36\";\nmsg.url = \"https://www.rightmove.co.uk/properties/\"+propertyId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":380,"wires":[["448e31f8.9aacd"]]},{"id":"63a70cca.29fc34","type":"file","z":"62c36b72.d44664","name":"Store As File","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1110,"y":640,"wires":[[]]},{"id":"d6b159e0.b47648","type":"function","z":"62c36b72.d44664","name":"Store To File","func":"var fileName = '/home/pi/rightmove/'+msg.payload.propertyData.id+'.json';\n\nmsg.filename = fileName\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":560,"wires":[["63a70cca.29fc34"]]},{"id":"2c228333.3cf6bc","type":"switch","z":"62c36b72.d44664","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"propertyData","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":600,"wires":[["d6b159e0.b47648"],[]]},{"id":"be550c89.cf012","type":"function","z":"62c36b72.d44664","name":"Generate ID","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":480,"wires":[["4553d5a0.9d89cc","55d8c406.610c6c"]]},{"id":"21556b67.240624","type":"delay","z":"62c36b72.d44664","name":"1.5 secs","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":640,"wires":[["be550c89.cf012"]]},{"id":"83bdda39.f826d8","type":"catch","z":"62c36b72.d44664","name":"","scope":null,"uncaught":false,"x":280,"y":260,"wires":[["bb04c634.1d47a8"]]},{"id":"bb04c634.1d47a8","type":"debug","z":"62c36b72.d44664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":260,"wires":[]},{"id":"55d8c406.610c6c","type":"function","z":"62c36b72.d44664","name":"Get Next Id","func":"msg.payload = msg.payload + 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":640,"wires":[["21556b67.240624"]]},{"id":"f6f63637.407958","type":"inject","z":"62c36b72.d44664","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Switch","payload":"0","payloadType":"num","x":460,"y":720,"wires":[["21556b67.240624"]]}]
