Shrimpy/TestShrimpy.json
[{"id":"965a4cd2.e003d","type":"tab","label":"Test Shrimpy","disabled":true,"info":""},{"id":"b7cfb627.1e3a68","type":"comment","z":"965a4cd2.e003d","name":"Binance","info":"\n\nhttps://api.binance.com/\n\n\n\nhttps://api.binance.com/api/v3/ticker/price","x":280,"y":120,"wires":[]},{"id":"3ca88dc9.f879e2","type":"comment","z":"965a4cd2.e003d","name":"ticker","info":"","x":270,"y":180,"wires":[]},{"id":"5cf93195.4406e","type":"inject","z":"965a4cd2.e003d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":240,"wires":[["6f7444d8.d15cfc"]]},{"id":"ef0e8865.d40128","type":"debug","z":"965a4cd2.e003d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"6f7444d8.d15cfc","type":"http request","z":"965a4cd2.e003d","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.binance.com/api/v3/ticker/price","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":240,"wires":[["ef0e8865.d40128","b2c18377.7f6f1","c823a8f9.943068"]]},{"id":"b2c18377.7f6f1","type":"debug","z":"965a4cd2.e003d","name":"ETHBTC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].price","statusVal":"","statusType":"auto","x":740,"y":280,"wires":[]},{"id":"c823a8f9.943068","type":"debug","z":"965a4cd2.e003d","name":"LTCBTC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[1].price","x":740,"y":320,"wires":[]},{"id":"b44a9029.e80a9","type":"inject","z":"965a4cd2.e003d","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":360,"wires":[["6cbe6386.d2b46c"]]},{"id":"db72cf88.75bef","type":"debug","z":"965a4cd2.e003d","name":"BTCUSDT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]},{"id":"6cbe6386.d2b46c","type":"http request","z":"965a4cd2.e003d","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":360,"wires":[["db72cf88.75bef"]]},{"id":"f3f08329.d238e","type":"comment","z":"965a4cd2.e003d","name":"HMAC","info":"","x":271,"y":460,"wires":[]},{"id":"faf4a2d1.144d7","type":"comment","z":"965a4cd2.e003d","name":"Binance (TRADE) /api/v3/order/test","info":"","x":360,"y":640,"wires":[]},{"id":"85cc1cf9.9ca81","type":"comment","z":"965a4cd2.e003d","name":"Binance (TRADE) /api/v3/order","info":"","x":351,"y":840,"wires":[]},{"id":"a9eda4c0.5e3a68","type":"inject","z":"965a4cd2.e003d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":321,"y":540,"wires":[["81370295.b5a5e"]]},{"id":"5dc62f7a.099ea","type":"debug","z":"965a4cd2.e003d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":691,"y":540,"wires":[]},{"id":"d939758b.237c98","type":"inject","z":"965a4cd2.e003d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":300,"y":700,"wires":[["ca063.57f2bf9d8","5c73c7e2.91cfa8"]]},{"id":"e3ac5c21.2749c","type":"http request","z":"965a4cd2.e003d","name":"test","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.binance.com/api/v3/order/test?","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":760,"wires":[["d07e4494.1aa438"]]},{"id":"db75469c.da3148","type":"function","z":"965a4cd2.e003d","name":"headers","func":"\nmsg.headers = {};\nmsg.headers['X-MBX-APIKEY'] = msg.apikey;\nmsg.payload = msg.topic + '&signature=' + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":501,"y":761,"wires":[["e3ac5c21.2749c","bb228012.be84b"]]},{"id":"ca063.57f2bf9d8","type":"function","z":"965a4cd2.e003d","name":"address","func":"//Using topic,payload\n\naddr = 'symbol=ETHUSDT';            //Symbol\naddr = addr + '&side=SELL';         //SELL or BUY\naddr = addr + '&type=MARKET';       //MARKET or LIMIT\naddr = addr + '&quantity=0.01';\naddr = addr + '&timestamp='+ msg.payload;\n\nmsg.payload = addr;\nmsg.topic = addr;\nmsg.apikey = 'JCJK5NHWEHa0mKxfXup7J8GRu5J9sr286eECsVjqWzuo7oLqJ4VngPwu0YtVkjOc';        //Input your api-key\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":700,"wires":[["3b2607af.73da38"]]},{"id":"d07e4494.1aa438","type":"debug","z":"965a4cd2.e003d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":760,"wires":[]},{"id":"6533a161.1c41e","type":"inject","z":"965a4cd2.e003d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":320,"y":900,"wires":[["531bcc6c.8997e4"]]},{"id":"7092c8ea.a8ff68","type":"http request","z":"965a4cd2.e003d","name":"Order","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.binance.com/api/v3/order?","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":960,"wires":[["2e2dbb8c.11a264"]]},{"id":"6266d154.956e9","type":"function","z":"965a4cd2.e003d","name":"headers","func":"\nmsg.headers = {};\nmsg.headers['X-MBX-APIKEY'] = msg.apikey;\nmsg.payload = msg.topic + '&signature=' + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":501,"y":961,"wires":[["7092c8ea.a8ff68"]]},{"id":"2e2dbb8c.11a264","type":"debug","z":"965a4cd2.e003d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":960,"wires":[]},{"id":"531bcc6c.8997e4","type":"function","z":"965a4cd2.e003d","name":"address","func":"//Using topic,payload\n\naddr = 'symbol=ETHUSDT';            //Symbol\naddr = addr + '&side=SELL';         //SELL or BUY\naddr = addr + '&type=MARKET';       //MARKET or LIMIT\naddr = addr + '&quantity=0.01';\naddr = addr + '&timestamp='+ msg.payload;\n\nmsg.payload = addr;\nmsg.topic = addr;\nmsg.apikey = 'aaaa';        //Input your api-key\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":900,"wires":[["490c18d7.da4308"]]},{"id":"81370295.b5a5e","type":"hmac","z":"965a4cd2.e003d","name":"HMAC","algorithm":"HmacSHA256","key":"abcde","x":490,"y":540,"wires":[["5dc62f7a.099ea"]]},{"id":"3b2607af.73da38","type":"hmac","z":"965a4cd2.e003d","name":"SecretKey","algorithm":"HmacSHA256","key":"uGzIF2uwzegEqJNWwwaOdA0RpD19vhYTozFFKjhoT1OSV3Aek7Pc9ozwK3QvhlxA","x":650,"y":700,"wires":[["db75469c.da3148"]]},{"id":"490c18d7.da4308","type":"hmac","z":"965a4cd2.e003d","name":"SecretKey","algorithm":"HmacSHA256","key":"inputyoursecretkey","x":650,"y":900,"wires":[["6266d154.956e9"]]},{"id":"5c73c7e2.91cfa8","type":"debug","z":"965a4cd2.e003d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":660,"wires":[]},{"id":"bb228012.be84b","type":"debug","z":"965a4cd2.e003d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":820,"wires":[]}]
