AnalyzeTone/TweeterTest.json
[{"id":"f2ce3087.ee968","type":"tab","label":"Tweet Language ","disabled":false,"info":""},{"id":"3b13170a.8b5ba8","type":"inject","z":"f2ce3087.ee968","name":"Happy test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","x":180,"y":280,"wires":[["1ccd705b.07ca2"]]},{"id":"1ccd705b.07ca2","type":"change","z":"f2ce3087.ee968","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":320,"wires":[["19037133.924c87"]]},{"id":"62a9afb1.aa101","type":"inject","z":"f2ce3087.ee968","name":"Sadness test","props":[{"p":"payload","v":"{\"text\":\"This is miserable and sad\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","x":190,"y":340,"wires":[["1ccd705b.07ca2"]]},{"id":"60cfb004.afcc18","type":"inject","z":"f2ce3087.ee968","name":"Angry test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"text\":\"Our patented biofacturing platform fuses biology, chemistry, and technology to unlock the power of Nature. By combining molecular biology, data science, automation, and genomics, we design products, find the microbes to make them, and scale those products to the world, with a platform that is getting smarter all the time.\"}","payloadType":"json","x":180,"y":400,"wires":[["1ccd705b.07ca2"]]},{"id":"19037133.924c87","type":"function","z":"f2ce3087.ee968","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":300,"wires":[["7e5ec0f9.bbb5a8","37cf1c8a.bf4d54"]]},{"id":"7e5ec0f9.bbb5a8","type":"debug","z":"f2ce3087.ee968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":280,"wires":[]},{"id":"dffc23d5.a9663","type":"debug","z":"f2ce3087.ee968","name":"Tone categories","active":true,"console":"false","complete":"payload","x":900,"y":460,"wires":[]},{"id":"9a0f3aa8.923ad","type":"function","z":"f2ce3087.ee968","name":"High Score","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["16df6bd0.9e3004"]]},{"id":"16df6bd0.9e3004","type":"debug","z":"f2ce3087.ee968","name":"Score","active":true,"console":"false","complete":"topic","x":850,"y":540,"wires":[]},{"id":"677da65d.953ad8","type":"debug","z":"f2ce3087.ee968","name":"Print msg.response","active":false,"console":"false","complete":"response","x":650,"y":400,"wires":[]},{"id":"1d5a2d93.b33b62","type":"change","z":"f2ce3087.ee968","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":460,"wires":[["dffc23d5.a9663"]]},{"id":"37cf1c8a.bf4d54","type":"watson-tone-analyzer-v3","z":"f2ce3087.ee968","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/d54598e4-1473-428d-ac43-cda4d017d44b","x":410,"y":420,"wires":[["9a0f3aa8.923ad","677da65d.953ad8","1d5a2d93.b33b62"]]},{"id":"e9d8f8a2.aef698","type":"inject","z":"f2ce3087.ee968","name":"Angry test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"text\":\"Dalio sees 'good probability' bitcoin gets outlawed - Yahoo Finance.\"}","payloadType":"json","x":180,"y":460,"wires":[["1ccd705b.07ca2"]]},{"id":"ed98b4f5.980148","type":"inject","z":"f2ce3087.ee968","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":680,"wires":[["f84703c8.b2b72"]]},{"id":"f84703c8.b2b72","type":"function","z":"f2ce3087.ee968","name":"BitCoin","func":"var fromTimeStamp = new Date(Date.now());\nvar toTimeStamp = new Date(Date.now());\n\nvar fromTime = fromTimeStamp.getFullYear() + \n    \"-\" + ( fromTimeStamp.getMonth() + 1 )+\n    \"-\" + fromTimeStamp.getDate() +\n    \"T\" + (fromTimeStamp.getHours() - 2) +\n    \":00:00\";\n    \nvar toTime = fromTimeStamp.getFullYear() + \n    \"-\" + ( fromTimeStamp.getMonth() + 1 )+\n    \"-\" + fromTimeStamp.getDate() +\n    \"T\" + (fromTimeStamp.getHours() - 1) +\n    \":00:00\";\n\nmsg = {};\nmsg.api = 'everything'; // everything, sources\nmsg.queries = {\n  q: 'bitcoin',\n  language: 'en',\n  from: fromTime,\n  to: toTime\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":620,"wires":[["4882d4bb.724fcc"]]},{"id":"4882d4bb.724fcc","type":"newsapi","z":"f2ce3087.ee968","name":"News","key":"e48ce48eed8e4afdb25d6ef59f794eab","api":"","queries":"","x":350,"y":560,"wires":[["4a24369.caf68c8"]]},{"id":"4a24369.caf68c8","type":"function","z":"f2ce3087.ee968","name":"get first msg","func":"var numResult = msg.payload.totalResults;\nvar articles = msg.payload.articles\nvar content = \"\";\nif (numResult > 0) {\n    for(let i=0; i < 1; i++) {\n        var content = articles[i].content;\n    }\n}\n\nmsg.payload = content.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":500,"wires":[["37cf1c8a.bf4d54","65b8ac53.ca8274"]]},{"id":"65b8ac53.ca8274","type":"debug","z":"f2ce3087.ee968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":600,"wires":[]}]
