AnalyzeTone/WatsonToneTest.json
[{"id":"11bf1c48.5ffae4","type":"tab","label":"Experienment","disabled":true,"info":""},{"id":"4e353a46.934a94","type":"function","z":"11bf1c48.5ffae4","name":"BitCoin","func":"var fromTimeStamp = new Date(Date.now());\nvar toTimeStamp = new Date(Date.now());\n\nvar fromTime = fromTimeStamp.getFullYear() + \n    \"-\" + ( fromTimeStamp.getMonth() + 1 )+\n    \"-\" + fromTimeStamp.getDate() +\n    \"T\" + (fromTimeStamp.getHours() - 2) +\n    \":00:00\";\n    \nvar toTime = fromTimeStamp.getFullYear() + \n    \"-\" + ( fromTimeStamp.getMonth() + 1 )+\n    \"-\" + fromTimeStamp.getDate() +\n    \"T\" + (fromTimeStamp.getHours() - 1) +\n    \":00:00\";\n\nmsg = {};\nmsg.api = 'everything'; // everything, sources\nmsg.queries = {\n  q: 'bitcoin',\n  language: 'en',\n  from: fromTime,\n  to: toTime\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[["440513d7.f0b8bc","43bf9edd.37cf2"]]},{"id":"f9e3eae9.02af68","type":"inject","z":"11bf1c48.5ffae4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":180,"wires":[["4e353a46.934a94"]]},{"id":"7bb080a7.aad4e","type":"function","z":"11bf1c48.5ffae4","name":"parse data","func":"var numResult = msg.payload.totalResults;\nvar articles = msg.payload.articles;\nif (numResult > 0) {\n    for(let i=0; i < articles.length; i++) {\n        var article = articles[i];\n        var source = article.source.name;\n        var author = article.author;\n        var title = article.title;\n        var desc = article.description;\n        var url = article.url;\n        var publishAt = new Date(article.publishedAt).getTime();\n        var content = article.content;\n        \n        msg = {};\n        msg.topic = \"INSERT INTO News (`Timestamp`, `Topic`, `SourceName`, `Author`, `Title`, `Desc`, `URL`, 'Content') VALUES (?, ?, ?, ?, ?, ?, ?, ?);\";\n        msg.payload = [publishAt, \"bitcoin\", source, author, title, desc, url, content];\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":320,"wires":[["5affe47d.d464fc"]]},{"id":"5affe47d.d464fc","type":"delay","z":"11bf1c48.5ffae4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":400,"wires":[["6026c356.452b4c"]]},{"id":"6026c356.452b4c","type":"sqlite","z":"11bf1c48.5ffae4","mydb":"7cf28421.97400c","sqlquery":"msg.topic","sql":"","name":"","x":840,"y":460,"wires":[[]]},{"id":"440513d7.f0b8bc","type":"newsapi","z":"11bf1c48.5ffae4","name":"News","key":"e48ce48eed8e4afdb25d6ef59f794eab","api":"","queries":"","x":530,"y":240,"wires":[["7bb080a7.aad4e","d5f3e297.9bd19","a5200a6d.f1b478"]]},{"id":"d5f3e297.9bd19","type":"debug","z":"11bf1c48.5ffae4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":260,"wires":[]},{"id":"43bf9edd.37cf2","type":"debug","z":"11bf1c48.5ffae4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"queries","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"a5200a6d.f1b478","type":"function","z":"11bf1c48.5ffae4","name":"get first msg","func":"var numResult = msg.payload.totalResults;\nvar articles = msg.payload.articles\nvar content = \"\";\nif (numResult > 0) {\n    for(let i=0; i < 1; i++) {\n        var content = articles[i].content;\n    }\n}\n\nmsg.payload = content.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":560,"wires":[["484f743.7bcc08c"]]},{"id":"484f743.7bcc08c","type":"watson-tone-analyzer-v3","z":"11bf1c48.5ffae4","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/d54598e4-1473-428d-ac43-cda4d017d44b","x":760,"y":560,"wires":[["db6aa0dc.3b2fc","c967b225.923a5","7c060564.4e477c"]]},{"id":"c967b225.923a5","type":"debug","z":"11bf1c48.5ffae4","name":"Print msg.response","active":false,"console":"false","complete":"response","x":1000,"y":540,"wires":[]},{"id":"7c060564.4e477c","type":"change","z":"11bf1c48.5ffae4","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":600,"wires":[["6edd302d.49f7f"]]},{"id":"db6aa0dc.3b2fc","type":"function","z":"11bf1c48.5ffae4","name":"High Score","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":680,"wires":[["a3ebc609.6a7498"]]},{"id":"a3ebc609.6a7498","type":"debug","z":"11bf1c48.5ffae4","name":"Score","active":true,"console":"false","complete":"topic","x":1200,"y":680,"wires":[]},{"id":"6edd302d.49f7f","type":"debug","z":"11bf1c48.5ffae4","name":"Tone categories","active":true,"console":"false","complete":"payload","x":1250,"y":600,"wires":[]},{"id":"7cf28421.97400c","type":"sqlitedb","db":"/data/news.db","mode":"RWC"}]
