Rightmove/RightMoveScraper.json
[{"id":"b72fd9b9.4c0098","type":"tab","label":"Test Web Scraper","disabled":false,"info":""},{"id":"68491cd.78cf8e4","type":"inject","z":"b72fd9b9.4c0098","name":"Trigger","props":[{"p":"payload"},{"p":"start","v":"71902753","vt":"num"},{"p":"end","v":"71910000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":150,"y":380,"wires":[["fa46b7d5.3c3e08","ebf00a4f.958028","9c48c56e.535d68"]]},{"id":"3baf2859.2e4968","type":"http request","z":"b72fd9b9.4c0098","name":"Get Data","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":380,"wires":[["cf75115e.38aa5"]]},{"id":"cf75115e.38aa5","type":"html","z":"b72fd9b9.4c0098","name":"Parse indexes","property":"payload","outproperty":"payload","tag":"script","ret":"text","as":"single","x":600,"y":480,"wires":[["b87d800b.11642"]]},{"id":"b87d800b.11642","type":"function","z":"b72fd9b9.4c0098","name":"Get Estate Data","func":"// str = msg.payload[4]\nvar str = msg.payload.reduce(\n    function (a, b) {\n        return a.length > b.length ? a : b;\n    }\n);\nstr = str.split(\"window.PAGE_MODEL = \")[1]\n\nif (str == undefined || str.length == 0) {\n    str= \"{}\"\n}\nmsg.payload=str\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":580,"wires":[["10feb3d5.640f0c"]]},{"id":"10feb3d5.640f0c","type":"json","z":"b72fd9b9.4c0098","name":"Get Estate Object","property":"payload","action":"obj","pretty":false,"x":610,"y":660,"wires":[["7c73ceb8.1718"]]},{"id":"af40bc47.b5be8","type":"function","z":"b72fd9b9.4c0098","name":"request header","func":"propertyId = msg.payload\nmsg.payload = \"\";\nmsg.headers = {};\nmsg.headers['Referer'] = \"https://www.rightmove.co.uk/properties/\"+propertyId;\nmsg.headers['User-Agent'] = \"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.70 Safari/537.36\";\nmsg.url = \"https://www.rightmove.co.uk/properties/\"+propertyId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":660,"wires":[["3baf2859.2e4968"]]},{"id":"4819d288.2e298c","type":"file","z":"b72fd9b9.4c0098","name":"Store As File","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1070,"y":480,"wires":[[]]},{"id":"94699fbb.e046","type":"function","z":"b72fd9b9.4c0098","name":"Store To File","func":"var fileName = '/home/pi/rightmove/'+msg.payload.propertyData.id+'.json';\n\nmsg.filename = fileName\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":380,"wires":[["4819d288.2e298c"]]},{"id":"7c73ceb8.1718","type":"switch","z":"b72fd9b9.4c0098","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"propertyData","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":660,"wires":[["94699fbb.e046"],[]]},{"id":"fa46b7d5.3c3e08","type":"function","z":"b72fd9b9.4c0098","name":"","func":"var o = false;\nfor (var i=msg.start; i<=msg.end; i++) {\n    node.send( {payload:i} )\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":480,"wires":[["fa4eb97f.fff1c8"]]},{"id":"fa4eb97f.fff1c8","type":"delay","z":"b72fd9b9.4c0098","name":"2 secs","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":150,"y":580,"wires":[["af40bc47.b5be8"]]},{"id":"c29de29b.53ca","type":"catch","z":"b72fd9b9.4c0098","name":"","scope":null,"uncaught":false,"x":580,"y":740,"wires":[["9c31977a.5d8538"]]},{"id":"9c31977a.5d8538","type":"debug","z":"b72fd9b9.4c0098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":740,"wires":[]},{"id":"ebf00a4f.958028","type":"debug","z":"b72fd9b9.4c0098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"start","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":380,"wires":[]},{"id":"9c48c56e.535d68","type":"debug","z":"b72fd9b9.4c0098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"end","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":440,"wires":[]}]
